--
-- PostgreSQL database dump
--

\restrict NuZGB1DPl0y0LiiQ96aC3JZ7iU5aihOgR2bmURbrWvpaWmcrbULlI46VcMuS5zx

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLogs; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."AuditLogs" (
    "Id" uuid NOT NULL,
    "EntityName" text NOT NULL,
    "EntityId" text NOT NULL,
    "Action" text NOT NULL,
    "ChangedBy" text NOT NULL,
    "PayloadJson" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."AuditLogs" OWNER TO lojinha;

--
-- Name: CardFeeSettings; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."CardFeeSettings" (
    "Id" uuid NOT NULL,
    "CreditCardPercentage" numeric(18,2) NOT NULL,
    "DebitCardPercentage" numeric(18,2) NOT NULL,
    "AdditionalPercentage" numeric(18,2) NOT NULL,
    "AdditionalFixedAmount" numeric(18,2) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."CardFeeSettings" OWNER TO lojinha;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Categories" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "ColorHex" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."Categories" OWNER TO lojinha;

--
-- Name: FairSuppliers; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."FairSuppliers" (
    "Id" uuid NOT NULL,
    "FairId" uuid NOT NULL,
    "SupplierId" uuid NOT NULL
);


ALTER TABLE public."FairSuppliers" OWNER TO lojinha;

--
-- Name: Fairs; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Fairs" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "EventDateUtc" timestamp with time zone NOT NULL,
    "Location" text NOT NULL,
    "RegistrationFee" numeric(18,2) NOT NULL,
    "Notes" text NOT NULL,
    "Status" text NOT NULL,
    "FinalizedAtUtc" timestamp with time zone,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL,
    "RegistrationFeeSplitCount" integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Fairs" OWNER TO lojinha;

--
-- Name: FilamentProfiles; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."FilamentProfiles" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Brand" text NOT NULL,
    "Description" text NOT NULL,
    "SpoolWeightKg" numeric(18,2) NOT NULL,
    "SpoolLengthMeters" numeric(18,2) NOT NULL,
    "CostBRL" numeric(18,2) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."FilamentProfiles" OWNER TO lojinha;

--
-- Name: FinancialEntries; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."FinancialEntries" (
    "Id" uuid NOT NULL,
    "Type" text NOT NULL,
    "Classification" text NOT NULL,
    "Category" text NOT NULL,
    "Description" text NOT NULL,
    "Amount" numeric(18,2) NOT NULL,
    "OccurredOnUtc" timestamp with time zone NOT NULL,
    "ReferenceId" uuid,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."FinancialEntries" OWNER TO lojinha;

--
-- Name: InventoryMovements; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."InventoryMovements" (
    "Id" uuid NOT NULL,
    "ItemType" text NOT NULL,
    "ItemId" uuid NOT NULL,
    "Type" text NOT NULL,
    "Quantity" numeric(18,2) NOT NULL,
    "UnitCost" numeric(18,2) NOT NULL,
    "Notes" text NOT NULL,
    "ReferenceId" uuid,
    "OccurredAtUtc" timestamp with time zone NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."InventoryMovements" OWNER TO lojinha;

--
-- Name: MarketplaceFees; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."MarketplaceFees" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "FixedFee" numeric(18,2) NOT NULL,
    "PercentageFee" numeric(18,2) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."MarketplaceFees" OWNER TO lojinha;

--
-- Name: PrinterProfiles; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."PrinterProfiles" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Brand" text NOT NULL,
    "ReturnMonths" numeric(18,2) NOT NULL,
    "MachineCost" numeric(18,2) NOT NULL,
    "WorkHoursPerDay" numeric(18,2) NOT NULL,
    "WorkingDaysPerMonth" numeric(18,2) NOT NULL,
    "PowerKw" numeric(18,2) NOT NULL,
    "UsageLevel" text NOT NULL,
    "FailureRate" numeric(18,2) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."PrinterProfiles" OWNER TO lojinha;

--
-- Name: ProductRecipeItems; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."ProductRecipeItems" (
    "Id" uuid NOT NULL,
    "ProductRecipeId" uuid NOT NULL,
    "SupplyId" uuid NOT NULL,
    "Quantity" numeric(18,2) NOT NULL
);


ALTER TABLE public."ProductRecipeItems" OWNER TO lojinha;

--
-- Name: ProductRecipes; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."ProductRecipes" (
    "Id" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "LaborHours" numeric(18,2) NOT NULL,
    "LaborCostPerHour" numeric(18,2) NOT NULL,
    "AdditionalCosts" numeric(18,2) NOT NULL,
    "WholesaleMarkup" numeric(18,2) NOT NULL,
    "RetailMarkup" numeric(18,2) NOT NULL,
    "ResellerMarkup" numeric(18,2) NOT NULL,
    "TotalCost" numeric(18,2) NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."ProductRecipes" OWNER TO lojinha;

--
-- Name: Products; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Products" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Sku" character varying(80),
    "Description" text NOT NULL,
    "CategoryId" uuid NOT NULL,
    "CostPrice" numeric(18,2) NOT NULL,
    "SalePrice" numeric(18,2) NOT NULL,
    "SuggestedPrice" numeric(18,2) NOT NULL,
    "ProfitMargin" numeric(18,2) NOT NULL,
    "CurrentStock" numeric(18,2) NOT NULL,
    "MinimumStock" numeric(18,2) NOT NULL,
    "EstimatedPrintTimeMinutes" numeric(18,2) NOT NULL,
    "EstimatedWeightGrams" numeric(18,2) NOT NULL,
    "LengthMetersUsed" numeric(18,2) NOT NULL,
    "TariffPerKwh" numeric(18,2) NOT NULL,
    "PrinterProfileId" uuid,
    "FilamentProfileId" uuid,
    "DefaultMarketplaceFeeId" uuid,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL,
    "FinishingPercentage" numeric(18,2) DEFAULT 0.0 NOT NULL,
    "CommissionPercentage" numeric(18,2) DEFAULT 0.0 NOT NULL,
    "ItemsPerPlate" integer DEFAULT 1 NOT NULL,
    "SupplierId" uuid
);


ALTER TABLE public."Products" OWNER TO lojinha;

--
-- Name: SaleItems; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."SaleItems" (
    "Id" uuid NOT NULL,
    "SaleId" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "Quantity" numeric(18,2) NOT NULL,
    "UnitPrice" numeric(18,2) NOT NULL,
    "CostPrice" numeric(18,2) NOT NULL,
    "TotalPrice" numeric(18,2) NOT NULL,
    "LojinhaGainAmount" numeric(18,2) DEFAULT 0.0 NOT NULL,
    "LojinhaGainPercentage" numeric(18,2) DEFAULT 0.0 NOT NULL,
    "SupplierId" uuid
);


ALTER TABLE public."SaleItems" OWNER TO lojinha;

--
-- Name: Sales; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Sales" (
    "Id" uuid NOT NULL,
    "SoldAtUtc" timestamp with time zone NOT NULL,
    "PaymentMethod" text NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "CostAmount" numeric(18,2) NOT NULL,
    "ProfitAmount" numeric(18,2) NOT NULL,
    "Status" text NOT NULL,
    "Notes" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL,
    "FairId" uuid,
    "FeeAmount" numeric(18,2) DEFAULT 0.0 NOT NULL,
    "NetReceivedAmount" numeric(18,2) DEFAULT 0.0 NOT NULL
);


ALTER TABLE public."Sales" OWNER TO lojinha;

--
-- Name: Suppliers; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Suppliers" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "ContactName" text NOT NULL,
    "PhoneNumber" text NOT NULL,
    "Notes" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."Suppliers" OWNER TO lojinha;

--
-- Name: Supplies; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Supplies" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Unit" text NOT NULL,
    "CostPerUnit" numeric(18,2) NOT NULL,
    "StockQuantity" numeric(18,2) NOT NULL,
    "MinimumStock" numeric(18,2) NOT NULL,
    "Notes" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL
);


ALTER TABLE public."Supplies" OWNER TO lojinha;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "Email" text NOT NULL,
    "FullName" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Role" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "UpdatedAtUtc" timestamp with time zone NOT NULL,
    "SupplierId" uuid
);


ALTER TABLE public."Users" OWNER TO lojinha;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: lojinha
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO lojinha;

--
-- Name: AuditLogs PK_AuditLogs; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "PK_AuditLogs" PRIMARY KEY ("Id");


--
-- Name: CardFeeSettings PK_CardFeeSettings; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."CardFeeSettings"
    ADD CONSTRAINT "PK_CardFeeSettings" PRIMARY KEY ("Id");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("Id");


--
-- Name: FairSuppliers PK_FairSuppliers; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."FairSuppliers"
    ADD CONSTRAINT "PK_FairSuppliers" PRIMARY KEY ("Id");


--
-- Name: Fairs PK_Fairs; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Fairs"
    ADD CONSTRAINT "PK_Fairs" PRIMARY KEY ("Id");


--
-- Name: FilamentProfiles PK_FilamentProfiles; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."FilamentProfiles"
    ADD CONSTRAINT "PK_FilamentProfiles" PRIMARY KEY ("Id");


--
-- Name: FinancialEntries PK_FinancialEntries; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."FinancialEntries"
    ADD CONSTRAINT "PK_FinancialEntries" PRIMARY KEY ("Id");


--
-- Name: InventoryMovements PK_InventoryMovements; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."InventoryMovements"
    ADD CONSTRAINT "PK_InventoryMovements" PRIMARY KEY ("Id");


--
-- Name: MarketplaceFees PK_MarketplaceFees; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."MarketplaceFees"
    ADD CONSTRAINT "PK_MarketplaceFees" PRIMARY KEY ("Id");


--
-- Name: PrinterProfiles PK_PrinterProfiles; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."PrinterProfiles"
    ADD CONSTRAINT "PK_PrinterProfiles" PRIMARY KEY ("Id");


--
-- Name: ProductRecipeItems PK_ProductRecipeItems; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."ProductRecipeItems"
    ADD CONSTRAINT "PK_ProductRecipeItems" PRIMARY KEY ("Id");


--
-- Name: ProductRecipes PK_ProductRecipes; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."ProductRecipes"
    ADD CONSTRAINT "PK_ProductRecipes" PRIMARY KEY ("Id");


--
-- Name: Products PK_Products; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "PK_Products" PRIMARY KEY ("Id");


--
-- Name: SaleItems PK_SaleItems; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."SaleItems"
    ADD CONSTRAINT "PK_SaleItems" PRIMARY KEY ("Id");


--
-- Name: Sales PK_Sales; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Sales"
    ADD CONSTRAINT "PK_Sales" PRIMARY KEY ("Id");


--
-- Name: Suppliers PK_Suppliers; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Suppliers"
    ADD CONSTRAINT "PK_Suppliers" PRIMARY KEY ("Id");


--
-- Name: Supplies PK_Supplies; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Supplies"
    ADD CONSTRAINT "PK_Supplies" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Categories_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_Categories_Name" ON public."Categories" USING btree ("Name");


--
-- Name: IX_FairSuppliers_FairId_SupplierId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_FairSuppliers_FairId_SupplierId" ON public."FairSuppliers" USING btree ("FairId", "SupplierId");


--
-- Name: IX_FairSuppliers_SupplierId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_FairSuppliers_SupplierId" ON public."FairSuppliers" USING btree ("SupplierId");


--
-- Name: IX_Fairs_Name_EventDateUtc; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Fairs_Name_EventDateUtc" ON public."Fairs" USING btree ("Name", "EventDateUtc");


--
-- Name: IX_FilamentProfiles_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_FilamentProfiles_Name" ON public."FilamentProfiles" USING btree ("Name");


--
-- Name: IX_MarketplaceFees_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_MarketplaceFees_Name" ON public."MarketplaceFees" USING btree ("Name");


--
-- Name: IX_PrinterProfiles_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_PrinterProfiles_Name" ON public."PrinterProfiles" USING btree ("Name");


--
-- Name: IX_ProductRecipeItems_ProductRecipeId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_ProductRecipeItems_ProductRecipeId" ON public."ProductRecipeItems" USING btree ("ProductRecipeId");


--
-- Name: IX_ProductRecipeItems_SupplyId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_ProductRecipeItems_SupplyId" ON public."ProductRecipeItems" USING btree ("SupplyId");


--
-- Name: IX_ProductRecipes_ProductId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_ProductRecipes_ProductId" ON public."ProductRecipes" USING btree ("ProductId");


--
-- Name: IX_Products_CategoryId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Products_CategoryId" ON public."Products" USING btree ("CategoryId");


--
-- Name: IX_Products_DefaultMarketplaceFeeId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Products_DefaultMarketplaceFeeId" ON public."Products" USING btree ("DefaultMarketplaceFeeId");


--
-- Name: IX_Products_FilamentProfileId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Products_FilamentProfileId" ON public."Products" USING btree ("FilamentProfileId");


--
-- Name: IX_Products_PrinterProfileId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Products_PrinterProfileId" ON public."Products" USING btree ("PrinterProfileId");


--
-- Name: IX_Products_Sku; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_Products_Sku" ON public."Products" USING btree ("Sku");


--
-- Name: IX_Products_SupplierId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Products_SupplierId" ON public."Products" USING btree ("SupplierId");


--
-- Name: IX_SaleItems_ProductId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_SaleItems_ProductId" ON public."SaleItems" USING btree ("ProductId");


--
-- Name: IX_SaleItems_SaleId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_SaleItems_SaleId" ON public."SaleItems" USING btree ("SaleId");


--
-- Name: IX_SaleItems_SupplierId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_SaleItems_SupplierId" ON public."SaleItems" USING btree ("SupplierId");


--
-- Name: IX_Sales_FairId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Sales_FairId" ON public."Sales" USING btree ("FairId");


--
-- Name: IX_Suppliers_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_Suppliers_Name" ON public."Suppliers" USING btree ("Name");


--
-- Name: IX_Supplies_Name; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_Supplies_Name" ON public."Supplies" USING btree ("Name");


--
-- Name: IX_Users_Email; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE UNIQUE INDEX "IX_Users_Email" ON public."Users" USING btree ("Email");


--
-- Name: IX_Users_SupplierId; Type: INDEX; Schema: public; Owner: lojinha
--

CREATE INDEX "IX_Users_SupplierId" ON public."Users" USING btree ("SupplierId");


--
-- Name: FairSuppliers FK_FairSuppliers_Fairs_FairId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."FairSuppliers"
    ADD CONSTRAINT "FK_FairSuppliers_Fairs_FairId" FOREIGN KEY ("FairId") REFERENCES public."Fairs"("Id") ON DELETE CASCADE;


--
-- Name: FairSuppliers FK_FairSuppliers_Suppliers_SupplierId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."FairSuppliers"
    ADD CONSTRAINT "FK_FairSuppliers_Suppliers_SupplierId" FOREIGN KEY ("SupplierId") REFERENCES public."Suppliers"("Id") ON DELETE CASCADE;


--
-- Name: ProductRecipeItems FK_ProductRecipeItems_ProductRecipes_ProductRecipeId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."ProductRecipeItems"
    ADD CONSTRAINT "FK_ProductRecipeItems_ProductRecipes_ProductRecipeId" FOREIGN KEY ("ProductRecipeId") REFERENCES public."ProductRecipes"("Id") ON DELETE CASCADE;


--
-- Name: ProductRecipeItems FK_ProductRecipeItems_Supplies_SupplyId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."ProductRecipeItems"
    ADD CONSTRAINT "FK_ProductRecipeItems_Supplies_SupplyId" FOREIGN KEY ("SupplyId") REFERENCES public."Supplies"("Id") ON DELETE RESTRICT;


--
-- Name: ProductRecipes FK_ProductRecipes_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."ProductRecipes"
    ADD CONSTRAINT "FK_ProductRecipes_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id") ON DELETE CASCADE;


--
-- Name: Products FK_Products_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: Products FK_Products_FilamentProfiles_FilamentProfileId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_FilamentProfiles_FilamentProfileId" FOREIGN KEY ("FilamentProfileId") REFERENCES public."FilamentProfiles"("Id");


--
-- Name: Products FK_Products_MarketplaceFees_DefaultMarketplaceFeeId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_MarketplaceFees_DefaultMarketplaceFeeId" FOREIGN KEY ("DefaultMarketplaceFeeId") REFERENCES public."MarketplaceFees"("Id");


--
-- Name: Products FK_Products_PrinterProfiles_PrinterProfileId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_PrinterProfiles_PrinterProfileId" FOREIGN KEY ("PrinterProfileId") REFERENCES public."PrinterProfiles"("Id");


--
-- Name: Products FK_Products_Suppliers_SupplierId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_Suppliers_SupplierId" FOREIGN KEY ("SupplierId") REFERENCES public."Suppliers"("Id") ON DELETE SET NULL;


--
-- Name: SaleItems FK_SaleItems_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."SaleItems"
    ADD CONSTRAINT "FK_SaleItems_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id") ON DELETE RESTRICT;


--
-- Name: SaleItems FK_SaleItems_Sales_SaleId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."SaleItems"
    ADD CONSTRAINT "FK_SaleItems_Sales_SaleId" FOREIGN KEY ("SaleId") REFERENCES public."Sales"("Id") ON DELETE CASCADE;


--
-- Name: SaleItems FK_SaleItems_Suppliers_SupplierId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."SaleItems"
    ADD CONSTRAINT "FK_SaleItems_Suppliers_SupplierId" FOREIGN KEY ("SupplierId") REFERENCES public."Suppliers"("Id") ON DELETE RESTRICT;


--
-- Name: Sales FK_Sales_Fairs_FairId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Sales"
    ADD CONSTRAINT "FK_Sales_Fairs_FairId" FOREIGN KEY ("FairId") REFERENCES public."Fairs"("Id") ON DELETE RESTRICT;


--
-- Name: Users FK_Users_Suppliers_SupplierId; Type: FK CONSTRAINT; Schema: public; Owner: lojinha
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "FK_Users_Suppliers_SupplierId" FOREIGN KEY ("SupplierId") REFERENCES public."Suppliers"("Id") ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict NuZGB1DPl0y0LiiQ96aC3JZ7iU5aihOgR2bmURbrWvpaWmcrbULlI46VcMuS5zx

